<!-- header for pages when logged in -->
<nav class="container p-2 mb-4">
	<!-- col1: img logo + col2: link1 and link2 -->
	<div class="row">
		<!-- col1: img logo with link -->
		<div class="col">
			<a href="#"
				><img class="logo" src="../images/logo-airbnb.png" alt="airbnb-logo"
			/></a>
		</div>
		<!-- col2: link1 and link2 -->
		<div class="col text-end">
			<!-- link1: profile -->
			<a class="btn btn-outline-secondary">
				<img
					class="me-2"
					src="https://randomuser.me/api/portraits/men/11.jpg"
					alt="profile-picture"
				/>Ester Lin
			</a>
			<!-- link2: logout -->
			<a class="btn btn-outline-secondary">Logout</a>
		</div>
	</div>
</nav>
