<!-- header for pages when logged in -->
<nav class="container p-2 mb-4">
	<!-- col1: img logo + col2: link1 and link2 -->
	<div class="row">
		<!-- col1: img logo with link -->
		<div class="col">
			<a href="#"
				><img class="logo" src="../images/logo-airbnb.png" alt="airbnb-logo"
			/></a>
		</div>
		<!-- col2: link1 and link2 -->
		{{#if user}}
		<div class="col text-end">
			<!-- link1: profile -->
			<a class="btn btn-outline-secondary">
				<img
					class="me-2"
					src="{{user.avatar}}"
					alt="profile-picture"
				/>{{user.name}}
			</a>
			<!-- link2: logout -->
			<a href="/auth/logout" class="btn btn-outline-secondary">Logout</a>
		</div>
		{{else}}
		<div class="col text-end">
		<a href="/auth/login" class="btn btn-outline-secondary">Login</a>
		</div>
		{{/if}}
	</div>
</nav>
