<!-- header for pages when logged in -->
<nav class="container p-2 mb-4">
	<!-- col1: img logo + col2: link1 and link2 -->
	<div class="row">
		<!-- col1: img logo with link -->
		<div class="col">
			<a href="#"
				><img class="logo" src="../images/logo-airbnb.png" alt="airbnb-logo"
			/></a>
		</div>
		<!-- col2: link1 -->
		<div class="col text-end">
			<!-- link1: logout -->
			<a class="btn btn-outline-secondary">Logout</a>
		</div>
	</div>
</nav>
<section class="container">
	<div class="card mb-3 text-danger border-danger">
		<div class="card-body">
			<p class="m-0">
				{{message}}
			</p>
		</div>
	</div>
	<div>
		<p>
			{{error.stack}}
		</p>
	</div>
</section>
