{{> nav}}
<section class="container">
	<div class="card mb-3 text-danger border-danger">
		<div class="card-body">
			<p class="m-0">
				{{message}}
			</p>
		</div>
	</div>
	<div>
		<p>
			{{error.stack}}
		</p>
	</div>
</section>
