{{> nav}}
<!-- section with house pictures -->
<div class="border-top border-bottom border-grey house mb-5">
	<div class="row">
		<!-- col1: big pic -->
		<div class="col">
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
			/>
		</div>
		<!-- col1: row-cols-3 means 3 columns for each row -->
		<div class="col">
			<div class="row row-cols-3 p-5 g-5">
				<!-- pic 1 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
					/>
				</div>
				<!-- pic 2 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
					/>
				</div>
				<!-- pic 3 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
					/>
				</div>
				<!-- pic 4 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
					/>
				</div>
				<!-- pic 5 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
					/>
				</div>
				<!-- pic 6 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
					/>
				</div>
				<!-- pic 7 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
					/>
				</div>
				<!-- pic 8 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
					/>
				</div>
				<!-- pic 9 -->
				<div class="col">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section with house info and booking -->
<div class="container">
	<div class="row">
		<!-- col1: info, reviews and comments -->
		<div class="col-8">
			<div class="row">
				<!-- info area -->
				<div class="col-10 mb-4">
					<!-- name of the house, location and room number-->
					<!-- title -->
					<p class="fs-2 mb-0">Luxury Villa in Chaweng</p>
					<!-- location and room numbers -->
					<small class="text-muted">
						<i class="fa-solid fa-location-dot text-success"></i>
						Koh Samui • 4 Rooms
					</small>
					<!-- col1: pic & col2: info -->
					<div class="row py-4">
						<div class="col-1 host">
							<img
								class="me-2"
								src="https://randomuser.me/api/portraits/men/11.jpg"
								alt="profile-picture"
							/>
						</div>
						<div class="col-11">
							<small class="text-muted">Hosted by</small>
							<div><small>Ester Lin</small></div>
						</div>
					</div>
					<!-- text with information -->
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Utenim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu
						fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id
						estlaborum.
					</p>
				</div>
				<!-- write review area -->
				<div class="col-10 mb-5">
					<!-- title -->
					<p class="fs-3 mb-0">2 Reviews</p>
					<p class="fs-6 mb-0">Leave a review</p>
					<form>
						<!-- text area -->
						<textarea
							class="form-control"
							rows="4"
							name="review"
						></textarea>
						<!-- review icons and button -->
						<div class="my-2">
							<!-- thumbs up -->
							<div class="btn btn-outline-success">
								<i class="fa-solid fa-thumbs-up text-success"></i>
							</div>
							<!-- thumbs down -->
							<div class="btn btn-outline-danger">
								<i class="fa-solid fa-thumbs-down text-danger"></i>
							</div>
						</div>
						<button class="btn btn-success">Submit</button>
					</form>
				</div>
				<!-- comments area -->
				<!-- comment 1 -->
				<div class="col-10 pb-4">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<!-- col1: pic -->
								<div class="col-1 host">
									<img
										class="me-2"
										src="https://randomuser.me/api/portraits/men/11.jpg"
										alt="profile-picture"
									/>
								</div>
								<!-- col2: card info -->
								<div class="col-11">
									<!-- card: col1: date & col2: review icon -->
									<div class="row">
										<div class="col text-muted">
											<small>02 Jan 2022 - 01:01</small>
										</div>
										<div class="col text-end">
											<i class="fa-solid fa-thumbs-up text-success"></i>
										</div>
									</div>
									<!-- card: name & info -->
									<p>Peter Lewis</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing
										elit. Pariatur voluptas repellat maiores libero dolor
										esse voluptatibus atque vitae a odit, itaque officiis,
										facilis debitis iure distinctio harum eaque, ullam id?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- comment 2 -->
				<div class="col-10 pb-4">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<!-- col1: pic -->
								<div class="col-1 host">
									<img
										class="me-2"
										src="https://randomuser.me/api/portraits/men/11.jpg"
										alt="profile-picture"
									/>
								</div>
								<!-- col2: card info -->
								<div class="col-11">
									<!-- card: col1: date & col2: review icon -->
									<div class="row">
										<div class="col text-muted">
											<small>02 Jan 2022 - 01:01</small>
										</div>
										<div class="col text-end">
											<i class="fa-solid fa-thumbs-up text-success"></i>
										</div>
									</div>
									<!-- card: name & info -->
									<p>Peter Lewis</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing
										elit. Pariatur voluptas repellat maiores libero dolor
										esse voluptatibus atque vitae a odit, itaque officiis,
										facilis debitis iure distinctio harum eaque, ullam id?
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- option 1 -->
		<!-- col2: request booking -->
		<div class="col-4">
			<div class="card shadow p-3 mb-5 bg-body rounded">
				<div class="card-body">
					<h5 class="card-title">$350/night</h5>
					<small>
						<i class="fa-solid fa-thumbs-up text-success"></i>
						2 Reviews</small
					>
					<form>
						<textarea
							class="form-control my-3"
							rows="7"
							placeholder="Send the host a message..."
							name="review"
						></textarea>
						<button class="btn btn-success">Request Booking</button>
					</form>
				</div>
			</div>
		</div>
		<!-- option 2 -->
		<!-- col2: booking requested -->
		<!-- <div class="col-4">
			<div class="card shadow p-3 mb-5 bg-body rounded">
				<div class="card-body">
					<h5 class="card-title">$350/night</h5>
					<small>
						<i class="fa-solid fa-thumbs-up text-success mb-3"></i>
						2 Reviews</small
					>
					<div class="card bg-success bg-opacity-25">
						<div class="card-body">
							<p class="m-0">Thank you for your enquiry.</p>
							<small>Sent on 02 Jan 2022 - 01:01</small>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- end of option 2 -->
	</div>
</div>
